h1 {
    font-size: xx-large;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

#new {
    position: fixed;
    bottom: 4%;
    right: 4%;
    background-color: peru;
    border-radius: 50%;
    font-size: 60px;
}

#container {
    display: flex;
}

#kaufen {
    width: 50%;
}

#Einträge {
    width: 50%;
}

.item {
    display: flex;
    border: 4px solid;
    display: flex;
    height: 10vh;
    width: 100%;
}

#testItem {
    display: grid;
    grid-template-columns: 50px 50px auto auto;
    border: 4px solid;
}

.datalist {
    flex-grow: 7;
}

.check {
    flex-grow: 1;
    width: 5%;
}

p {
    margin: 3px;
}

.delete {
    border: 1px solid;
    border-radius: 60px;
    top: 3px;
    right: 3px;
}

.rightSide {
    display: flex;
    flex-direction: column;
}

.Kommentar {
    resize: none;
}

.upperHalf {
    height: 60%;
}

.lowerHalf {
    height: 40%;
}

@media only screen and (max-width: 700px) {
    #container {
        display: flex;
        flex-direction: column;
    }

    #kaufen {
        width: 95%;
    }

    #Einträge {
        width: 95%;
    }
}